body{
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #004467;
}

header {
    background-color: #004467;
    padding: 2px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

header h1 {
    color: white;
    display: inline-block;
    padding: 6px 12px;
    position: sticky;
    top: 0px;
    border: 4px solid white;
    border-radius: 20px;
}

.newItem {
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}


#newInput {
    margin: 0;
    border: none;
    width: 40%;
    padding: 10px;
    font-size: 16px;
}


.addBtn {
    padding: 9px 10px;
    background-color: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
    width: 50%;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}